

@font-face {
    font-family:"Minecraft Regular";
    src:url("/font/1_Minecraft-Regular.woff") format("woff"),url("./font/1_Minecraft-Regular.eot") format("eot"),url("./font/1_Minecraft-Regular.ttf") format("truetype"),url("./font/1_Minecraft-Regular.svg") format("svg");
    font-weight:normal;
    font-style:normal;
    font-weight:normal;
    font-style:normal;
}